body {
  background-color: #9A73A9;

}

.navigation {
  display: inline-block;
  margin: 20px;
  background-color: #A2A838;
  border: 1px solid #505400;
  padding: 10px;
}

.nav-bar {
  list-style-type: none;
  text-align: center;
}

h1  {
  text-align: center;
  position: relative;
  font-family: 'Century Gothic', sans-serif;
  font-size: 40px;
  padding: 20px 20px 20px 20px;
  border: 3px solid #290238;
  background-color: #5C2971;
  color: #9A73A9;


}

h2  {
  text-align: center;
  font-family: 'Century Gothic', sans-serif;
  font-size: 30px;
}

h3  {
  text-align: center;
  font-family: 'Century Gothic', sans-serif;
  font-size: 20px;
}

p  {
  font-family: 'Century Gothic', sans-serif;
  font-size: 16px;
}

a {
  font-family: 'Century Gothic', sans-serif;
  font-size: 16px;
  color: black;

}

.picture {
  float: left;
  width: 30%;
  border: 1px solid #505400;
  background-color: #CDD269;
}

.vic-pic {
  width: 200px;
  height: 200px;
  padding: 20px 20px 20px 20px;
}

.biography {
  float: left;
  width: 50%;
  border: 1px solid #505400;
  background-color: #CDD269;
}

.social-media {
  float: left;
  width: 18%;
  border: 1px solid #505400;
  background-color: #CDD269;
}

.social-link {
  list-style-type: none;
  display: ;

}

/* As hex codes

Green:;
.color-primary-1 { color: #F8FCA8 }
.color-primary-2 { color: #CDD269 }
.color-primary-0 { color: #A2A838 } *main
.color-primary-3 { color: #797E15 }
.color-primary-4 { color: #505400 }

Purple:;
.color-complement-1 { color: #9A73A9 }
.color-complement-2 { color: #7A498D }
.color-complement-0 { color: #5C2971 } *main
.color-complement-3 { color: #411155 }
.color-complement-4 { color: #290238 }

*/